@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}

.menu{
   position: absolute;
    background-color: rgba(0, 0, 0, 0);
   width: 100%;
   display: flex;
   justify-content: space-between;
   z-index: 12;
   padding: 20px;
   
}
   .menu .logo a{
    text-decoration: none;
    color: #fff;
    font-size: 35px;
    font-weight: 600;
  }

  .menu ul{
    display: inline-flex;
    margin-left: auto;
    margin-right: 30px;
     
  }

  .menu ul li{
    list-style: none;
    margin-left: 10px;
    margin-top: 10px;
  }

  
  
  .menu ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 6px;
    transition: all 0.3s ease;
    
    
  }

  .menu ul li a:hover{
    background: #fff;
    color: black;
  }

  body {
    overflow-x: hidden;
    font-family:'Poppins',sans-serif;
    font-size: 20px;
}


  .container{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    margin-right: 0;
    padding-right: 0;
    
    
}

 .img{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    position: relative;
  }

  .img::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
  }

  .center{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }

  .center .title{
    color: #fff;
    font-size: 55px;
    font-weight: 600;
  }  
  

  .container2
  {   
      margin-top: 4%;
      width: 90%;
      height: 100%;
      display: flex;
      margin-left: 40px;
      
  }
  
  .img_top {
    width: 30%; 
    object-fit: cover;
    

    max-height: 600px; 
    display: block; 
    margin: auto; 
}

  h2
  {
     font-size: xx-large; 
     margin-top: 30px;
     font-weight: bold;
     

  }
  

  .txt{
    display: flex;
    width: 700px;
    margin-left: 50px;
    margin-top: 20px;
    align-items: center;
    
  }

  .container3 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-left: 300px;
  margin-right:10px;
  }

  .container4 {
    display: flex;
    align-items: center;
    justify-content: center ;
    
}

.imgright img {
    width: 50%;
    height: auto;
    margin-left: 50px;
}
.imgleft img{
    width: 250px;
    height: auto;
    margin-right: 50px;
}



.txt2 h2 {
    font-size: xx-large;
    margin-bottom: 10px;
}

.txt1,.txt2 {
    width: 900px;
}

.txt1 h2 {
    font-size: xx-large;
    margin-bottom: 10px;
}

.types {
   display: flex;
    justify-content: space-around; 
    margin-bottom: 50px;
  }
  
 
  .student,
  .teacher,
  .professional {
    width: 22%; 
    padding: 40px;
    background-color: #e8e2e2d1; 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  }

  h3{
    margin-bottom: 20px;
  }


  .container5 {
    
    margin-top:0px ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #3D8A2A;
}



form {
    display: flex;
    flex-direction: column;
    width: 700px;
    
}
#button{
    width:200px;
    font-size: larger;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:white;
    background-color:#2e6222;
    border: none;
}

#button:hover{
    color:white;
    background-color: #123809;
}

form input,
form textarea {
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.contact{
    color: white;
    margin-bottom: 40px;
    display: flex;
    justify-content: flex-end;
    
}

.rightside{
    color:white;

    
}

.footer {
    
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
}

.social-icons {
    display: flex;
    justify-content: center;
    
    padding: 15px;
}

.social-icons a {
    margin: 0 10px; 
    color: white;
}

.social-icons a:hover {
    color: #bbb; 
}

.space{
    margin-bottom: 20px;
}

.carousel-inner {
  height: 700px;
}



.gallary{
  max-width: 1200px;
  width: 80%;
  padding: 10px 0;
  margin: auto;
  display: flex;
  justify-content: center;
 


  
}

.gal_inner{
  display: flex;
  gap:20px;
  

}
.title{
margin-bottom: 20px;
text-align: center;
  
  
}

.column{
  display: flex;
  flex-direction: column;
  gap:20px;
}

.grid_img{
  overflow: hidden; 
}

.grid_img img{
  width:300px;
  height:auto;
  object-fit:cover;
  align-items: center;
  border-radius: 3px;
  transition: all 0.5s ease;
  
}

.grid_img img:hover {
  transform: scale(1.2);
}